.header {
    margin: 0;
    width: 100%;
    height: 1200px;
    background-image: url(https://i.postimg.cc/WsCr1bSJ/IMG-3578.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 0.3;
    z-index: 1;
}