.information__card {
    width: 360px;
    height: 100%;
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.information__card:hover .information__card-icon {
    transform: scale(1.1);
}

.information__card:focus .information__card-icon {
    transform: scale(1.1);
}

@media screen and (max-width: 398px) and (min-width: 320px){
    .information__card {
        width: calc(100% - 2*19px);
    }
}